<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>NextPermutation</Title>
      <Shortcut>NextPermutation</Shortcut>
      <Description>NextPermutation</Description>
      <Author>firewood</Author>
    </Header>
    <Snippet>
      <Code Language="cpp">
        <![CDATA[vector<int> seq(9);
iota(seq.begin(), seq.end(), 0);
do {
	$end$
} while (next_permutation(seq.begin(), seq.end()));
]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
